* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.space-btw {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.w-580 {
  width: 580px;
}

.w-270 {
  width: 270px;
}

.mr-40 {
  margin-right: 40px;
}
.mr-100 {
  margin-right: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-15 {
  margin-left: 15px;
}
.p-80 {
  padding-top: 80px;
}
.pt-65 {
  padding-top: 65px;
}

.bg-dark-blue {
  background: #203656;
}

.bg-light-blue {
  background: #59d7ff;
}

.font-white {
  color: white;
}

.font-dark-blue {
  color: #203656;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

h1 {
  margin: 15px 0px 5px 0px;
}

h5 {
  margin: 15px 0px;
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.all-events-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 40px;
}
