body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
header {
  background: #203656;
  height: 80px;
}
.d-flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.btn {
  padding: 5px 30px;
  border-radius: 12px;
  background: white;
}
.mr-40 {
  margin-right: 40px;
}
.border-btn {
  border: 2px solid white;
}
.bg-dark-blue {
  background: #203656;
}
.font-white {
  color: white;
}
.font-dark-blue {
  color: #203656;
}
