* {
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 12px;
  background: #203656;
  cursor: pointer;
  margin-left: 35px;
  border: 1px solid white;
  color: white;
}
header a:hover {
  background: white;
  color: #203656;
}

header button {
  text-decoration: none;
  padding: 8px 40px;
  border-radius: 12px;
  background: white;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 40px;
  border: 1px solid white;
  color: #203656;
}

header button:hover {
  background: #203656;
  color: white;
}

.dark-btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 12px;
  background: #203656;
  cursor: pointer;

  border: 1px solid white;
  color: white;
}

.m20 {
  margin-right: 20%;
}

#readMore {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  color: brown;
}
.name {
  font-weight: 400;
  margin-top: 30px;
}

.center {
  text-align: center;
}
.m-20 {
  margin-left: 20px;
}
.p-top {
  padding-top: 80px;
}
.category:hover {
  background-color: rgb(32, 54, 86, 0.2);
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.m-b-20 {
  margin-bottom: 20px;
}
.hero-event-info h1 {
  font-size: 30px;
  color: white;
}
.hero-event-info {
  margin-left: 20px;
}
